mixin header()
  header.header
    .header__container
        a.header__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
        a.js-header__burger(href="#!")
        nav.header__nav
        ul.header__site-nav
          li.header__item
     
          